<footer class="bg-primary mt-20 p-4 text-light">
    <div class="flex flex-row justify-center items-center gap-8">
        <a href="index.html">
            <img src="assets/images/logo.webp" alt="Logotipo" class="rounded-full shadow-md" height="60" width="60">
        </a>

        <nav>
            <ul class="flex gap-16 font-bold underline">
                <li>
                    <a class="" href="speakers.html">Participantes</a>
                </li>
                <li>
                    <a class="" href="index.html">Las jornadas</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="flex flex-row justify-center gap-8 mt-4">
        <p class="text-sm">Herramientas HTML y CSS II - <abbr title="Universitat Oberta de Catalunya">UOC</abbr></p>
        <p class="text-sm">Actividad realizada por Jon Erik Ronnols</p>
        <p class="text-sm">Primavera 2025</p>
    </div>

    <div class="flex flex-row justify-center mt-4">
        <p class="italic text-xs">
            Contenido propio. Imágenes de <a href="https://pixabay.com/service/license-summary/" target="_blank" class="font-bold underline">Pixabay</a>.
        </p>
    </div>
</footer>