<footer class="footer">
    <div class="footer__container">
        <a href="index.html">
            <img src="assets/images/logo.webp" alt="Logotipo" class="footer__logo" height="60" width="60">
        </a>

        <nav>
            <ul class="footer__navlinks">
                <li>
                    <a class="footer__link" href="speakers.html">Participantes</a>
                </li>
                <li>
                    <a class="footer__link" href="index.html">Las jornadas</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer__container">
        <p class="footer__text">Herramientas HTML y CSS II - <abbr title="Universitat Oberta de Catalunya">UOC</abbr></p>
        <p class="footer__text">Actividad realizada por Jon Erik Ronnols</p>
        <p class="footer__text">Primavera 2025</p>
    </div>

    <div class="footer__container">
        <p class="footer__source">
            Contenido propio. Imágenes de <a href="https://pixabay.com/service/license-summary/" target="_blank" class="footer__link">Pixabay</a>.
        </p>
    </div>
</footer>