<header class="bg-primary p-2">
    <nav class="grid grid-cols-2 grid-rows-2">
        <a class="row-start-1 col-start-1" href="index.html">
            <img src="assets/images/logo.webp" alt="Logo" class="rounded-full shadow-md w-12 sm:w-30 h-12 sm:h-30">
        </a>

        <button class="row-start-1 col-start-2 justify-self-end self-start border rounded-md w-12 h-10 " type="button">
            <i class="fas fa-bars fa-2x"></i>
        </button>

        <ul class="row-start-2 col-span-2">
            <li class="font-bebas-lg text-light">
                <a class="" href="speakers.html">Participantes</a>
            </li>
            <li class="font-bebas-lg text-light">
                <a class="" href="index.html">Las jornadas</a>
            </li>
        </ul>
    </nav>
</header>