<header class="header">
    <nav class="navbar navbar-expand-sm header__navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo.webp" alt="Logo" class="header__logo" height="120" width="120">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav header__navlinks">
                    <li class="nav-item">
                        <a class="nav-link header__navlink header__speakers" href="speakers.html">Participantes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header__navlink header__article" href="index.html">Las jornadas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>