@theme {
  --color-primary: #226A99;
  //--color-secondary: #F9E79F;
  --color-accent: #1D4E89;
  //--color-background: #fcf9ee;
  //--color-text: #333333;
  --color-light: #ffffff;
  //--color-link: #226A99;
  //--color-link-hover: #1b5a7c;
  --color-body: #212529;

  //--font-base: "Inter", Arial, sans-serif;
  --font-header: "Bebas Neue", sans-serif;
}